h1 {
    color:red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article  {

    width: 720px;
    margin: auto;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: white;
    padding: 20px;
}

body {

    background-color: rgb(167, 34, 34);

}
